body {
    font-family: 'Dancing Script', cursive;
    background-image: url(dicesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 50px;
    color: white;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.container .nav_item {
    margin: 0 30px; 
    margin-top: 150px;
}

.container .card {
    margin-top: 100px;
    font-size: 60px;
    color: rgb(249, 241, 241);
    text-decoration: none;
    padding: 70px 80px;
    background-color: #6d1d03;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid #241a16;
    border-radius: 30px;
}

.container a:hover,
.container a:focus,
.container a:active {
    background-color: #d26939;
  }